@charset "utf-8";

html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.column {
  flex-direction: column;
}

p {
  font-family: var(--kr-txt-font);
  font-size: var(--font-size-20);
}

/* header */

header {
  background: url(./images/background_0.svg) no-repeat center / cover;
  width: calc(100% - 6vw);
  height: calc(100vh - 6vw);
  padding: 3vw;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

header .sub_menu {
  position: absolute;
  background: url(./images/background_1.svg) no-repeat center / cover;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
}

header .backdrop {
  backdrop-filter: blur(3px);
}

header .sub_menu .nav {
  position: relative;
}

header .sub_menu .nav .sub_menu_title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--title-txt-font);
  font-size: 15.5vh;
  top: 16vh;
  bottom: 0;
  right: 0;
  z-index: 3;
}

header .sub_menu .nav .sub_menu_title a {
  padding: 0 0 0 13vw;
  width: 50%;
  transition: 0.5s all;
}

header .sub_menu .nav .sub_menu_title a:nth-child(2) {
  text-align: right;
}

header .sub_menu .nav .sub_menu_title:hover a {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  text-shadow: none;
}

header .sub_menu .nav .sub_menu_title:hover a:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
}

header .sub_menu .svgBox .svg .ellipse1-1 {
  fill: rgb(255, 255, 255, 0);
  cx: 13vw;
  cy: 5vw;
  rx: 15vw;
  ry: 15vw;
  stroke: #000;
  stroke-width: 2;
}

header .sub_menu .svgBox .svg .ellipse2-1 {
  fill: rgb(255, 255, 255, 0);
  cx: 13vw;
  cy: 5vw;
  rx: 10vw;
  ry: 10vw;
  stroke: #000;
  stroke-width: 1;
}

header .sub_menu .svgBox .svg .ellipse3-1 {
  fill: rgb(255, 255, 255, 0);
  cx: 20vw;
  cy: 5vw;
  rx: 23vw;
  ry: 23vw;
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 0.3% 0.7%;
}

header .sub_menu .svgBox .svg .ellipse4-1 {
  fill: rgb(255, 255, 255, 0);
  cx: 32vw;
  cy: 5vw;
  rx: 37vw;
  ry: 37vw;
  stroke: #000;
  stroke-width: 2;
}

header .sub_menu .svgBox .svg .ellipse5-1 {
  fill: rgb(255, 255, 255, 0);
  cx: 35vw;
  cy: 5vw;
  rx: 54vw;
  ry: 54vw;
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 0.5% 0.7%;
}

header .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: calc(100vh - 6vw);
  width: calc(100% - 6vw);
  color: #fff;
  z-index: 1;
}

header .menu_btn {
  background: url(./images/menu_back1.svg);
  position: absolute;
  width: 4.1667vw;
  right: 3%;
  top: 3vw;
  box-shadow: 0 0 130px #fff;
  z-index: 10;
  cursor: pointer;
}

header img.active {
  background: url(./images/menu_back2.png);
}

header .text h1 {
  font-size: 17vw;
}

header .text h4 {
  font-size: 2vw;
  font-family: var(--main-txt-font);
  font-size: var(--font-size-34);
}

header .text .header_bottom h6 {
  font-size: var(--font-size-16);
  font-weight: 300;
  font-family: var(--main-txt-font);
}

.header_bottom {
  display: flex;
  justify-content: space-between;
}

.svgBox .svg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.animate {
  animation: line-anim 5s infinite alternate;
  transition: 0.5s ease;
}

@keyframes line-anim {
  to {
    stroke-dasharray: 60px;
    stroke-dashoffset: 160px;
    transition: 0.5s ease;
  }
}

.svgBox .svg .ellipse1 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 22.5vw;
  rx: 25vw;
  ry: 7vw;
  stroke: #fff;
  stroke-width: 2;
  rotate: -10deg;
}

.svgBox .svg .ellipse2 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 25vw;
  rx: 34vw;
  ry: 10vw;
  stroke: #fff;
  stroke-width: 1;
  rotate: -10deg;
}

.svgBox .svg .ellipse3 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 28.5vw;
  rx: 42vw;
  ry: 14vw;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 0.3% 0.7%;
  rotate: -10deg;
}

.svgBox .svg .ellipse4 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 33vw;
  rx: 56vw;
  ry: 19vw;
  stroke: #fff;
  stroke-width: 2;
  rotate: -10deg;
}

.svgBox .svg .ellipse5 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 40vw;
  rx: 72vw;
  ry: 26.5vw;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 0.5% 0.7%;
  rotate: -370deg;
}

.svgBox .svg .ellipse6 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 53vw;
  rx: 90vw;
  ry: 40vw;
  stroke: #fff;
  stroke-width: 1;
  rotate: -10deg;
}

/* about */

.horizontal_container {
  position: relative;
  width: 100%;
}

.horizontal_container .sticky_box {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

.horizontal_container .sticky_box .horizontal_inner_box {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 200%;
}

.about h1 {
  padding: 5vw;
  font-size: 6.5vw;
  position: fixed;
  display: block;
  height: 0;
  top: 0;
  bottom: 10vh;
  left: 0;
  z-index: 1;
  transition: 0.2s;
}

.about h1.active {
  opacity: 0;
}

.about .sec1 {
  padding: 5vw;
  width: calc(100% - 10vw);
  height: calc(100vh - 10vw);
  align-items: end;
  justify-content: space-between;
  z-index: 0;
}

.about .sec1 h3 {
  width: 45%;
  font-size: 3vw;
}

.about .sec1 p {
  font-size: var(--font-size-16)
}

.about .sec1 p strong {
  font-size: var(--font-size-20)
}

.about .sec1 .sec1_right {
  width: 50%;
  flex-direction: column;
  justify-content: end;
}

.about .sec1 .sec1_right span h2 {
  font-family: var(--kr-txt-font);
  font-size: 4vw;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-family: var(--title-txt-font);
  transition: 0.2s;
}

.about .sec1 .sec1_right .sec1_right_under {
  justify-content: space-between;
  border-top: 2px solid #000;
  padding-top: 2vw;
  margin-top: 2vw;
}

.about .sec1 .sec1_right .sec1_right_under strong {
  font-size: 1.1rem;
  padding-right: 10px;
}

/* skill */

.about .sec2 {
  background: url(./images/background_2.svg) no-repeat right / cover;
  padding: 5vw;
  width: calc(100% - 10vw);
  height: calc(100vh - 10vw);
  align-items: end;
  justify-content: space-between;
  position: relative;
}

.hidden {
  opacity:0;
}

.console-container {
  font-family: 'GongGothicMedium';
  font-weight: 200;
  font-size:2.5rem;
  text-align:left;
  height:40px;
  width:63%;
  display:block;
  position:absolute;
  color:#fff;
  top:10vw;
  right:5vw;
  margin:auto;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}


.about .sec2 h3 {
  width: 25%;
  font-size: 3vw;
}

.about .sec2 .skill_list {
  list-style: none;
  padding: 0;
  width: 70%;
  z-index: 1;
  justify-content: space-between;
}

.about .sec2 .skill_list li {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 3vw;
  width: 100%;
  border-top: 1px solid #000;
}

.about .sec2 .skill_list li:last-child {
  padding-bottom: 0;
}

.about .sec2 .skill_list li h4 {
  width: 32%;
  text-align: left;
  font-family: var(--main-txt-font);
  font-size: var(--font-size-28);
  font-weight: 700;
}

.about .sec2 .skill_list li p {
  text-transform: uppercase;
  text-align: right;
  width: 60%;
  font-size: var(--font-size-16);
  font-family: var(--kr-txt-font);
}

/* .about .svgBox2 {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.about .svgBox2 .svg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: none;
  left: 0;
}

.about .svgBox2 .svg .ellipse7 {
  fill: rgb(255, 255, 255, 0);
  cx: 18vw;
  cy: 40vw;
  rx: 70vw;
  ry: 28vw;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 0.7% 0.7%;
  rotate: -10deg;
} */


/* project */

.project {
  justify-content: space-between;
  padding: 5vw;
  width: calc(100% - 10vw);
  height: calc(100vh - 10vw);
}

.project .project_nav {
  text-transform: uppercase;
  position: sticky;
  top: 37vh;
  left: 0;
  height: 200px;
  justify-content: space-between;
}

.project .project_nav h1 {
  width: 30vw;
  font-size: 6.5vw;
}

.project .project_nav .project_btn {
  justify-content: space-between;
  width: 24vw;
}

.project .project_nav .project_btn h6 {
  font-size: 1vw;
  font-weight: 400;
  height: 3vh;
  padding-top:10px;
  position: relative;
  display: block;
}

.project .project_nav .project_btn h6:first-child::after {
  content: "";
  width: 1px;
  background: #000;
  height: 40px;
  margin: 0 5px;
  position: absolute;
  transform: rotate(19deg);
  top: -5px;
  right: -3vw;
  left: 6vw;
}

.project .project_nav .project_btn h6:last-child::before {
  content: "";
  width: 1px;
  background: #000;
  height: 40px;
  margin: 0 5px;
  position: absolute;
  transform: rotate(19deg);
  top: -5px;
  right: 6vw;
  left: -3vw;
}

.project .project_list {
  width: 65%;
  list-style: none;
  padding:0;
}

.project .project_list li {
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #000;
  height: 16.6vh;
  transition: 0.3s;
  cursor: pointer;
  background-position: 50%;
}

.project .project_list li:last-child {
  border-bottom: 2px solid #000;
}

.project .project_list li:hover {
  background: url(./images/background_2.svg) no-repeat center / cover;
  height: 70vh;
}

.project .project_list li:hover h5 {
  position: relative;
  transition: 0.3s;
}
.project .project_list li h5::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 4px solid #000;
  transition: width 0.2s ease-out;
  left: auto;
  right: 0;
  bottom: -5px;
  width: 0;
}

.project .project_list li:hover h5::after {
  width: 100%;
  left: 0;
  right: auto;
}

.project .project_list li h4 {
  font-family: var(--main-txt-font);
  font-size: var(--font-size-34);
  font-weight: 600;
}


.project .project_list li:nth-child(1) h4 {
  font-family: 'YUniverse-B';
}

.project .project_list li:nth-child(3) h4 {
  font-family: 'establishRetrosansOTF';
  height: 3vh;
}

.project .project_list li:nth-child(3):hover {
background: url(./images/mock.gif) no-repeat center / contain;
background-size: 10vw;
}

.project .project_list li:nth-child(4) h4 {
  font-family: 'YUniverse-B';
}

.project .project_list li:nth-child(4):hover {
background: url(./images/urbanic_amble.png) no-repeat center / contain;
background-size: 8vw;
}


.project .project_list li:nth-child(6) h4 {
  font-family: 'Noto Serif HK', serif;
}


.project .project_list li h5 {
  font-family: var(--main-txt-font);
  font-size: var(--font-size-28);
}


/* graphic */

.graphic {
  padding: 5vw;
  width: calc(100% - 10vw);
  height: calc(100vh - 10vw);
}

.graphic .grid li {
  background: url(./images/ex.jpg) no-repeat 50% / cover;
  filter: grayscale(100%);
  display: block;
  height: 100%;
}

/* .graphic .grid .wine {
  background: url(./grapic_design/images/fragrant_well_bi.png) no-repeat center / cover ;
  background-size: cover;
} */

.graphic .grid li a {
  height: 100%;
  font-family: var(--main-txt-font);
  font-size: var(--font-size-28);
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.graphic .grid li:hover {
  filter: none;
  transition: 0.3s;
}

.graphic .grid li:hover a {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  box-sizing: border-box;
  
}

.graphic .grid li:hover a h2 {
  transition: 0.3s;
  color:#fff;
}


.graphic .grid {
  gap:20px;
  height: 100%;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr;
}


.graphic .grid h1 {
  text-align: right;
  font-size: 6.5vw;
  display: block;
  grid-column: 3 / 3;
  grid-row: 1/4;
}

.graphic .grid li {
  height: 100%;
}

.graphic .grid .wine {
  grid-column: 1 / 3;
  grid-row: 1/2;
}

.graphic .grid .grd1 {
  grid-row: 2/3;
  grid-column: span 1 / 2;
}

.graphic .grid .myrtle {
  grid-row: 2/3;
  grid-column: 2 / span 2;
}

.graphic .grid .diamant {
  grid-row: 3 / 3;
  grid-column: span 2 / 3;
}

.graphic .grid .grd3 {
  grid-row: 3 / 3;
  grid-column: 3 / 3;
}



footer {
  padding: 5vw;
  width: calc(100% - 10vw);
  height: calc(100vh - 10vw);
  align-items: center;
  justify-content: space-evenly;
}

footer h1 {
  font-size: 6.5vw;
}

footer .contact {
  justify-content: space-between;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 10px 0;
  margin-top: 3vw;
  gap: 15px;
}

footer .contact div {
  gap: 15px;
  align-items: center;
}

footer .contact div p {
  font-size: var(--font-size-16);
  line-height:1.2;
}

footer .contact div img {
  width: 50px;
  height: 50px;
}