@charset "utf-8";

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

/* header */

header {
  background: url(./images/background_0.png) no-repeat center / cover;
  width: calc(100% - 6vw);
  height: calc(100vh - 6vw);
  padding: 3vw;
  position: relative;
}

header .sub_menu {
  position: absolute;
  background: url(./images/background_1.png) no-repeat center / cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
}

header .backdrop {
  backdrop-filter: blur(3px);
}

header .sub_menu .sub_menu_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 10vw);
  padding: 5vw 0 5vw 10vw;
  font-size: 4.5vw;
}
header .sub_menu .sub_menu_title h1 {
  width: 50%;
}

header .sub_menu .sub_menu_title h1:nth-child(2) {
  text-align: right;
}

header .sub_menu .svgBox .svg .ellipse1-1 {
  fill: rgb(255, 255, 255, 0);
  cx: 13vw;
  cy: 5vw;
  rx: 15vw;
  ry: 15vw;
  stroke: #000;
  stroke-width: 2;
}

header .sub_menu .svgBox .svg .ellipse2-1 {
  fill: rgb(255, 255, 255, 0);
  cx: 13vw;
  cy: 5vw;
  rx: 10vw;
  ry: 10vw;
  stroke: #000;
  stroke-width: 1;
}

header .sub_menu .svgBox .svg .ellipse3-1 {
  fill: rgb(255, 255, 255, 0);
  cx: 20vw;
  cy: 5vw;
  rx: 23vw;
  ry: 23vw;
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 0.3% 0.7%;
}

header .sub_menu .svgBox .svg .ellipse4-1 {
  fill: rgb(255, 255, 255, 0);
  cx: 32vw;
  cy: 5vw;
  rx: 37vw;
  ry: 37vw;
  stroke: #000;
  stroke-width: 2;
}

header .sub_menu .svgBox .svg .ellipse5-1 {
  fill: rgb(255, 255, 255, 0);
  cx: 35vw;
  cy: 5vw;
  rx: 54vw;
  ry: 54vw;
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 0.5% 0.7%;
}

header .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: calc(100vh - 6vw);
  width: calc(100% - 6vw);
  color: #fff;
  z-index: 1;
}

header img {
  display: block;
  position: absolute;
  width: 4.1667vw;
  right: 3%;
  top: 3vw;
  border-radius: 50%;
  box-shadow: 0 0 130px #fff;
  z-index: 10;
  cursor: pointer;
}

header .text h1 {
  font-size: 17vw;
}

header .text h4 {
  font-size: 2vw;
}

header .text .header_bottom h6 {
  font-size: 1.1vw;
  font-weight: 300;
}

.header_bottom {
  display: flex;
  justify-content: space-between;
}

.svgBox .svg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.animate {
  animation: line-anim 5s infinite alternate;
  transition: 0.5s ease;
}

@keyframes line-anim {
  to {
    stroke-dasharray: 60px;
    stroke-dashoffset: 160px;
    transition: 0.5s ease;
  }
}

.svgBox .svg .ellipse1 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 22.5vw;
  rx: 25vw;
  ry: 7vw;
  stroke: #fff;
  stroke-width: 2;
  rotate: -10deg;
}

.svgBox .svg .ellipse2 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 25vw;
  rx: 34vw;
  ry: 10vw;
  stroke: #fff;
  stroke-width: 1;
  rotate: -10deg;
}

.svgBox .svg .ellipse3 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 28.5vw;
  rx: 42vw;
  ry: 14vw;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 0.3% 0.7%;
  rotate: -10deg;
}

.svgBox .svg .ellipse4 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 33vw;
  rx: 56vw;
  ry: 19vw;
  stroke: #fff;
  stroke-width: 2;
  rotate: -10deg;
}

.svgBox .svg .ellipse5 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 40vw;
  rx: 72vw;
  ry: 26.5vw;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 0.5% 0.7%;
  rotate: -370deg;
}

.svgBox .svg .ellipse6 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 53vw;
  rx: 90vw;
  ry: 40vw;
  stroke: #fff;
  stroke-width: 1;
  rotate: -10deg;
}

/* about */

.about {
  position: relative;
  bottom: 0;
  height: calc(100vh + 10vw);
  left: 0;
  margin: 0 0 80vh 0;
}

.about h1 {
  padding: 5vw;
  font-size: 6.5vw;
  position: sticky;
  display: block;
  height: 0;
  top: 0;
  bottom: 10vh;
  left: 0;
  z-index: 1;
}

.about .sec1 {
  padding: 5vw;
  height: calc(100vh - 20vw);
  align-items: end;
  z-index: 0;
}

.about .sec1 h3 {
  width: 50%;
  font-size: 3vw;
}

.about .sec1 .sec1_right {
  width: 50%;
  flex-direction: column;
  justify-content: end;
}

.about h2 {
  line-height: 1.2;
  font-size: 5.8vw;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  margin-bottom: 3vw;
}

.about h2 span {
  color: #000;
  text-shadow: none;
}

.about .sec1 .sec1_right .sec1_right_under {
  justify-content: space-between;
  border-top: 2px solid #000;
  padding-top: 10px;
  margin-top: 3vw;
}

.about .sec2 {
  background: url(./images/background_2.png) no-repeat right / cover;
  padding: 5vw;
  width: calc(100% - 10vw);
  height: calc(100vh - 10vw);
  align-items: end;
  justify-content: space-between;
  position: relative;
}

.about .sec2 h3 {
  width: 30vw;
  font-size: 3vw;
}

.about .sec2 .skill_list {
  list-style: none;
  padding: 0;
  /* width: 65%; */
  z-index: 1;
}

.about .sec2 .skill_list li {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 4vw;
}

.about .sec2 .skill_list li h4 {
  width: 40%;
  text-align: right;
  font-size: 3vw;
  font-weight: 500;
}
.about .sec2 .skill_list li p {
  text-transform: uppercase;
  width: 55%;
}

.about .sec2 .svgBox2 .svg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.about .sec2 .svgBox2 .svg .ellipse7 {
  fill: rgb(255, 255, 255, 0);
  cx: 18vw;
  cy: 40vw;
  rx: 70vw;
  ry: 28vw;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 0.7% 0.7%;
  rotate: -10deg;
}

/* project */

.project {
  justify-content: space-between;
  padding: 15vh 5vw 5vw 5vw;
  width: calc(100% - 10vw);
  height: calc(200vh - 10vw);
}

.project .project_nav {
  text-transform: uppercase;
  position: sticky;
  top: 33vh;
  left: 0;
  height: 29vh;
  justify-content: space-between;
}

.project .project_nav h1 {
  width: 30vw;
  font-size: 6.5vw;
}

.project .project_nav .project_btn {
  justify-content: space-between;
  width: 25vw;
}

.project .project_nav .project_btn h6 {
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  display: block;
}

.project .project_nav .project_btn h6:first-child::after {
  content: "";
  width: 1px;
  background: #000;
  height: 40px;
  margin: 0 5px;
  position: absolute;
  transform: rotate(19deg);
  top: -10px;
  right: -3vw;
  left: 6vw;
}

.project .project_nav .project_btn h6:last-child::before {
  content: "";
  width: 1px;
  background: #000;
  height: 40px;
  margin: 0 5px;
  position: absolute;
  transform: rotate(19deg);
  top: -10px;
  right: 7vw;
  left: -3vw;
}

.project .project_list {
  width: 65%;
  list-style: none;
}

.project .project_list li {
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #000;
  height: 33vh;
  cursor: pointer;
}
.project .project_list li:last-child {
  border-bottom: 2px solid #000;
}

.project .project_list li:hover {
  background: url(./images/background_2.png) no-repeat right / cover;
}

.project .project_list li:hover .project_list_num h5 {
  position: relative;
  transition: 0.3s;
}
.project .project_list li .project_list_num h5::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 4px solid #000;
  transition: width 0.2s ease-out;
  left: auto;
  right: 0;
  bottom: -5px;
  width: 0;
}

.project .project_list li:hover .project_list_num h5::after {
  width: 100%;
  left: 0;
  right: auto;
}

.project .project_list li h3 {
  font-size: 2.2vw;
}

.project .project_list li .project_list_num {
  width: 7vw;
  text-align: center;
  justify-content: space-between;
}

.project .project_list li .project_list_num p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1vw;
  text-transform: uppercase;
}
.project .project_list li .project_list_num h5 {
  font-size: 1.7vw;
  font-family: "Gmarket Sans";
}

footer h1 {
  padding: 5vw;
  width: calc(100% - 10vw);
  height: calc(60vh - 10vw);
  font-size: 6.5vw;
}
