@charset "utf-8";

/* header */

header {
  background: url(./images/background_0.png) no-repeat center / cover;
  width: calc(100% - 6vw);
  height: calc(100vh - 6vw);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3vw;
  justify-content: space-between;
  position: relative;
}

header img {
  display: block;
  position: absolute;
  width: 4.1667vw;
  right: 3%;
  top: 3vw;
  border-radius: 50%;
  box-shadow: 0 0 130px #fff;
  cursor: pointer;
}

header h1 {
  font-size: 17vw;
}

header h4 {
  font-size: 2vw;
}

header .header_bottom h6 {
  font-size: 1.1vw;
  font-weight: 300;
}

.header_bottom {
  display: flex;
  justify-content: space-between;
}

/* about */
