@charset "UTF-8";

@import url(./var.css);

@media (max-width: 1024px) {
  header .header-top {
    background-color: var(--point-color);
    position: relative;
  }

  header .header-top .top {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  header .header-top .top li {
    padding: 30px 1vw;
  }

  header .header-top .top li a {
    color: #f8f3e8;
    /* font-size: 0.9rem; */
  }

  header .header-top .top li:last-child a {
    margin-left: 10px;
  }

  header .header-top img {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
  }

  .icon_MB {
    display: none;
  }

  .menubar {
    background-color: var(--point-color);
  }

  .menubar ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }

  .menubar li a {
    display: block;
    color: #f8f3e8;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 20px 1vw;
  }

  .menubar li a:hover {
    color: #d6cb49;
  }

  .sub-menubar {
    display: flex;
    justify-content: center;
    background-color: #3a857e;
  }

  .sub-menubar a {
    display: block;
    color: #f8f3e8;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 10vw;
  }

  .sub-menubar a:hover {
    color: #d6cb49;
  }

  .slide-img li:nth-child(1) a {
    display: block;
    background: url(./images/slide1.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
  }

  /* 메인 */

  h6 {
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--point-color);
    /* margin: 10px 0; */
  }

  .more a {
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #3a857e;
    width: 100px;
    border-bottom: 1px solid #3a857e;
  }

  .more a:hover {
    color: #d6cb49;
    border-bottom: 1px solid #d6cb49;
  }

  .sec1 {
    padding: 10vh 0;
    background: url(./images/background1.png) right top -15% / 30% no-repeat;
  }

  .sec1 h1 {
    text-align: center;
    font-size: 1.7rem;
  }

  .sec1 p {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 15px 0;
    height: 3vh;
  }

  .sec1 ul {
    display: flex;
    justify-content: center;
    margin: 1vh auto;
  }

  .sec1 ul li {
    width: 25vw;
    margin: 20px;
    text-align: center;
  }

  .sec1 ul li:nth-child(4) {
    display: none;
  }
  .sec1 ul li:nth-child(5) {
    display: none;
  }

  .sec1 ul li a p {
    color: #000;
    margin: 15px 0;
  }

  .sec1 img {
    width: 25vw;
  }

  .sec2 {
    padding: 10vh 0;
    background: url(./images/background2.png) left / 30% no-repeat;
  }

  .sec2 h1 {
    text-align: center;
    font-size: 1.7rem;
  }

  .sec2 p {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 15px 0;
    height: 3vh;
  }

  .sec2 ul {
    display: flex;
    justify-content: center;
    margin: 1vh auto;
  }

  .sec2 ul li {
    width: 25vw;
    margin: 20px;
    text-align: center;
  }

  .sec2 ul li:nth-child(4) {
    display: none;
  }
  .sec2 ul li:nth-child(5) {
    display: none;
  }

  .sec2 ul li a p {
    color: #000;
    margin: 15px 0;
  }

  .sec2 img {
    width: 25vw;
  }

  .line-img1 {
    /* display: block; */
    width: 100%;
    object-fit:cover;
  }

  .line-img2 {
    display: none;
  }

  .sec3 {
    background: url(./images/background3.png) right bottom no-repeat;
    background-color: #3a857e;
    padding: 80px 0;
  }

  .sec3 ul {
    margin: 20px auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }

  .sec3 h1 {
    display: block;
    text-align: center;
    color: #f8f3e8;
    position: relative;
    margin: 40px 0;
    width: 40vw;
  }

  .sec3 h1:before {
    content: "CAMPAIGN";
    opacity: 0.2;
    font-size: 4rem;
    position: absolute;
    bottom: -10px;
    left: 0;
  }

  .sec3 ul li {
    margin: 20px 0;
  }

  .sec3 ul li a {
    text-align: center;
    color: #f8f3e8;
  }

  .sec3 ul li a img {
    display: block;
    width: 40vw;
  }

  .sec3 ul li h3 {
    margin-top: 30px;
    font-size: 1.3rem;
  }

  .sec3 ul li p {
    font-weight: 300;
  }

  .sec3 .under-txt {
    color: #f8f3e8;
    font-size: 2rem;
    font-weight: 200;
    margin-top: 40px;
  }

  .sec4 ul {
    display: flex;
    flex-flow: row-reverse;
  }

  .sec4 ul li img {
    display: block;
    margin: 0;
    object-fit: cover;
    width: 50vw;
    height: 40vw;
  }

  .sec4 ul li:last-child {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 50vw;
    height: 40vw;
    background-color: #f8f3e8;
    text-align: center;
    color: var(--point-color);
  }

  .sec4 ul li:last-child h1 {
    font-size: 1.7rem;
  }

  .sec4 ul li:last-child h6 {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .sec4 ul li:last-child .btn {
    display: block;
    margin: 10px auto;
    font-size: 0.9rem;
    text-align: center;
    background-color: var(--point-color);
    color: #f8f3e8;
    width: 10vw;
    padding: 13px;
  }

  .sec5 {
    background-color: var(--point-color);
  }

  .sec5 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:10vh 0 2vh 0;
  }

  .sec5 ul li {
    color: #f8f3e8;
    width: 25vw;
    margin: 10px 1.5vw;
  }

  .sec5 ul li h3 {
    margin-top: 30px;
  }

  .sec5 ul li:first-child {
    width: 80vw;
    text-align: center;
  }

  .sec5 ul:first-child li p {
    margin: 10px auto;
    font-size: 0.9rem;
    width: 90%;
  }

  .sec5 ul li a {
    color: #f8f3e8;
    text-align: center;
  }

  .sec5 img {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
  }

  .sec5 .info {
    display: flex;
    flex-wrap: row;
  }

  .sec5 ul:nth-child(2) li {
    width: 15vw;
    text-align: left;
    line-height: 1.5;
  }

  .sec5 ul:nth-child(2) li {
    width: 15vw;
    text-align: left;
  }

  .sec5 .footer_logo {
    margin: auto;
    display: block;
    object-fit: contain;
    width: 40%;
    height: 50px;
  }

  .sec5 footer {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 50px 0;
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 0.85rem;
    line-height: 1.5;
    border-top: 1px solid #fff;
  }

  .sec5 footer p:last-child {
    padding: 20px 0 0 0;
  }

  .sec5 footer h3 a {
    color: #d6cb49;
  }
}

/* 2차 브레이크 포인트 */

@media (max-width: 777px) {
  header .menubar {
    display: none;
  }

  .slide-img li:nth-child(1) a {
    display: block;
    background: url(./images/slide1.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 280px;
  }

  .icon_PC {
    display: none;
  }

  .icon_MB {
    display: block;
  }

    h6 {
    font-size: 1rem;
    font-weight: 800;
    color: var(--point-color);
    margin: 10px 0;
  }

  .sec1 ul li a p {
    color: #000;
    font-size: 0.8rem;
    margin: 15px 0;
  }

  .sec2 {
    padding: 0 0 5vh 0;
  }

  .sec2 ul li a p {
    color: #000;
    font-size: 0.8rem;
    margin: 15px 0;
  }

  .line-img1 {
    display: none;
  }

  .line-img2 {
    display: block;
    width: 100%;
  }

  .sec4 ul {
    display: flex;
    flex-flow: column;
  }

  .sec4 ul li img {
    display: block;
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 40vw;
  }

  .sec4 ul li:last-child {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 40vw;
    background-color: #f8f3e8;
    text-align: center;
    color: var(--point-color);
  }

    .sec4 ul li:last-child .btn {
    display: block;
    margin: 10px auto;
    font-size: 0.9rem;
    text-align: center;
    background-color: var(--point-color);
    color: #f8f3e8;
    width: 20vw;
    padding: 13px;
  }

  .sec5 ul {
    display: flex;
    flex-wrap: column;
    justify-content: center;
    padding:10vh 0 2vh 0;
  }

  .sec5 ul li {
    color: #f8f3e8;
    width: 70vw;
    margin: 10px 1.5vw;
  }

  .sec5 ul li a {
    color: #f8f3e8;
    text-align: center;
  }

  .sec5 img {
    width: 70vw;
    height: 50vw;
    object-fit: cover;
  }

}
