@charset "utf-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

@import url(./var.css);

@media (min-width:640px) {
    header {
      margin: 0 auto;
    }

    header .top {
        display: none;
    }
    header .menubar {
        display: none;
    }
  }
