@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

@import url(./var.css);

@media (max-width: 640px) {
  header .header-top {
    background-color: var(--point-color);
    width: 100%;
  }

  header .menubar {
    display: none;
  }

  .m_none {
    display: none;
  }

  .sub-menubar {
    display: flex;
    justify-content: space-around;
    background-color: #3a857e;
  }

  .sub-menubar a {
    display: block;
    color: #f8f3e8;
    font-weight: 400;
    padding: 10px 15px;
  }

  .sub-menubar a:hover {
    color: #d6cb49;
  }

  .slide-img li:nth-child(1) a {
    display: block;
    background: url(./images/slide_m1.png) center no-repeat;
    width: 100%;
    height: 820px;
  }

  .slide-img li a:nth-child(2) {
    display: none;
  }
  .slide-img li a:nth-child(3) {
    display: none;
  }

  /* 메인 */

  h6 {
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--point-color);
    margin: 10px 0;
  }

  .more a {
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #3a857e;
    width: 100px;
    border-bottom: 1px solid #3a857e;
  }

  .more a:hover {
    color: #d6cb49;
    border-bottom: 1px solid #d6cb49;
  }

  .sec1 {
    margin: 40px auto;
    padding: 60px 0;
    background: url(./images/background1.png) right top / 60% no-repeat;
  }

  .sec1 h1 {
    text-align: center;
  }

  .sec1 p {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 10px 0;
  }

  .sec1 ul {
    display: flex;
    justify-content: center;
  }

  .sec1 ul li:nth-child(3) {
    display: none;
  }
  .sec1 ul li:nth-child(4) {
    display: none;
  }
  .sec1 ul li:nth-child(5) {
    display: none;
  }

  .sec1 ul li {
    width: 35vw;
    margin: 15px;
    text-align: center;
  }

  .sec1 ul li a p {
    color: #000;
  }

  .sec1 img {
    width: 35vw;
  }

  .sec2 {
    margin: 40px auto;
    padding: 30px 0 60px 0;
    background: url(./images/background2.png) left top / 70% no-repeat;
  }

  .sec2 h1 {
    text-align: center;
  }

  .sec2 p {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 10px 0;
  }

  .sec2 ul {
    display: flex;
    justify-content: center;
  }

  .sec2 ul li:nth-child(3) {
    display: none;
  }
  .sec2 ul li:nth-child(4) {
    display: none;
  }
  .sec2 ul li:nth-child(5) {
    display: none;
  }

  .sec2 ul li {
    width: 35vw;
    margin: 15px;
    text-align: center;
  }

  .sec2 ul li a p {
    color: #000;
  }

  .sec2 img {
    width: 35vw;
  }

  .line-img {
    width: 100%;
  }

  /* 캠페인 */
  .sec3 {
    margin: 0 auto;
    background: url(./images/background3.png) center no-repeat;
    background-color: #3a857e;
    padding: 80px 0;
  }

  .sec3 ul {
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .sec3 h1 {
    text-align: center;
    color: #f8f3e8;
    position: relative;
    margin: 40px 0;
  }

  .sec3 h1:before {
    content: "CAMPAIGN";
    opacity: 0.2;
    font-size: 4rem;
    position: absolute;
    bottom: -10px;
    left: -80px;
  }

  .sec3 ul li {
    margin: 20px 0;
  }

  .sec3 ul li a {
    text-align: center;
    color: #f8f3e8;
  }

  .sec3 ul li img {
    display: block;
    width: 70vw;
  }

  .sec3 ul li h3 {
    margin-top: 30px;
    font-size: 1.3rem;
  }

  .sec3 ul li p {
    font-weight: 300;
  }

  .sec3 .under-txt {
    color: #f8f3e8;
    font-size: 2rem;
    font-weight: 200;
    margin-top: 40px;
  }

  .sec4 ul li img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 40vw;
  }

  .sec4 ul li:last-child {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 40vw;
    background-color: #f8f3e8;
    text-align: center;
    color: var(--point-color);
  }

  .sec4 ul li:last-child h1 {
    font-size: 1.7rem;
  }

  .sec4 ul li:last-child h6 {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .sec4 ul li:last-child .btn {
    display: block;
    margin: 10px auto;
    font-size: 0.9rem;
    text-align: center;
    background-color: var(--point-color);
    color: #f8f3e8;
    width: 22vw;
    padding: 13px;
  }

  /* 공지사항 */

  .sec5 {
    background-color: var(--point-color);
  }

  .sec5 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 80px 0;
  }

  .sec5 ul li {
    color: #f8f3e8;
    width: 40vw;
    margin: 10px 0;
  }

  .sec5 ul li h3 {
    margin-top: 30px;
  }

  .sec5 ul li p {
    margin: 10px auto;
    font-size: 0.9rem;
    width: 90%;
  }

  .sec5 ul li a {
    color: #f8f3e8;
    text-align: center;
  }

  .sec5 img {
    width: 40vw;
    height: 60vw;
    object-fit: cover;
  }

  .sec5 .info {
    display: none;
  }

  .sec5 .footer_logo {
    margin: auto;
    display: block;
    object-fit: contain;
    width: 40%;
    height: 50px;
  }

  .sec5 footer {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 50px 0;
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 0.85rem;
    line-height: 1.5;
    border-top: 1px solid #fff;
  }

  .sec5 footer p:last-child {
    padding: 20px 0 0 0;
  }

  .sec5 footer h3 {
    color: #d6cb49;
  }
}
