@charset "utf-8";

:root {
  --font-en: "pretendard", "Raleway", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --font-ko: "pretendard", "Noto Sans KR", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --italic: italic;
  --point-color: #004236;
  --h1-size: 10rem;
  --h2-size: 3rem;
  --margin-basic: 10%;
  /* --margin-btn: 5vw; */
}

::-webkit-scrollbar-thumb {
  background-color: #004236;
  border-radius: 30px;
}
