@charset "utf-8";

html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.column {
  flex-direction: column;
}

p {
  font-family: var(--kr-txt-font);
  font-size: var(--font-size-20);
}

/* sub menu */

.sub_menu {
  position: fixed;
  background: url(./images/background_1.png) no-repeat center / cover;
  overflow: hidden;

  width: 2.5rem;
  height: 2.5rem;

  top:2.5vw;
  right: 2.5vw;
  z-index: 99;
  border-radius: 5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* display: none; */
  transition: 0.6s;
}

.sub_menu:hover {
  backdrop-filter: blur(3px);
  height: calc(100% - 5vw);
  width:23rem;
  border-radius: 50rem 4rem 50rem 50rem ;
}

.sub_menu .nav {
  width: 70%;
  height:45%;
}

.sub_menu .sub_menu_title {
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height:100%;
  gap: 1vw;
}

.sub_menu .sub_menu_title span {
  justify-content: space-between;
  width: 100%;
}

.sub_menu .sub_menu_title span p {
  text-align: left;
  font-family: var(--main-txt-font);
  font-size: var(--font-size-40);
  text-transform: uppercase;
  color: crimson;
}

.sub_menu .sub_menu_title span a {
  text-align: right;
}

.sub_menu .sub_menu_title a {
  font-family: var(--title-txt-font);
  font-size: var(--font-size-70);
  transition: 0.5s all;
  z-index: 100;
  width: 100%;
  text-align: left;
}

.sub_menu .sub_menu_title a:nth-child(3) {
  text-align: right;
}

.sub_menu .sub_menu_title:hover a {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  text-shadow: none;
}

.sub_menu .sub_menu_title a:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  color: crimson;
}

/* header */

header {
  background: url(./images/background_0.png) no-repeat center / cover;
  width: calc(100% - 6vw);
  height: calc(100vh - 6vw);
  padding: 3vw;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

header .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: calc(100vh - 6vw);
  width: calc(100% - 6vw);
  color: #fff;
  z-index: 1;
}

header .menu_btn {
  background: url(./images/menu_back1.svg);
  position: absolute;
  width: 4.1667vw;
  right: 3%;
  top: 3vw;
  box-shadow: 0 0 130px #fff;
  z-index: 10;
  cursor: pointer;
}

header img.active {
  background: url(./images/menu_back2.png);
}

header .text h1 {
  font-size: 17vw;
}

header .text h4 {
  font-size: var(--font-size-34);
  font-family: var(--main-txt-font);
  font-size: var(--font-size-34);
}

header .text .header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .text .header_bottom h6 {
  font-size: var(--font-size-16);
  font-weight: 300;
  font-family: var(--main-txt-font);
}

.svgBox .svg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.animate {
  animation: line-anim 5s infinite alternate;
  transition: 0.5s ease;
}

@keyframes line-anim {
  to {
    stroke-dasharray: 60px;
    stroke-dashoffset: 160px;
    transition: 0.5s ease;
  }
}

.svgBox .svg .ellipse1 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 22.5vw;
  rx: 25vw;
  ry: 7vw;
  stroke: #fff;
  stroke-width: 2;
  rotate: -10deg;
}

.svgBox .svg .ellipse2 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 25vw;
  rx: 34vw;
  ry: 10vw;
  stroke: #fff;
  stroke-width: 1;
  rotate: -10deg;
}

.svgBox .svg .ellipse3 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 28.5vw;
  rx: 42vw;
  ry: 14vw;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 0.3% 0.7%;
  rotate: -10deg;
}

.svgBox .svg .ellipse4 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 33vw;
  rx: 56vw;
  ry: 19vw;
  stroke: #fff;
  stroke-width: 2;
  rotate: -10deg;
}

.svgBox .svg .ellipse5 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 40vw;
  rx: 72vw;
  ry: 26.5vw;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 0.5% 0.7%;
  rotate: -370deg;
}

.svgBox .svg .ellipse6 {
  fill: rgb(255, 255, 255, 0);
  cx: 68vw;
  cy: 53vw;
  rx: 90vw;
  ry: 40vw;
  stroke: #fff;
  stroke-width: 1;
  rotate: -10deg;
}

/* about */

.about .sec1 {
  padding: 5vw;
  width: calc(100% - 10vw);
  height: calc(100vh - 10vw);
  align-items: end;
  justify-content: center;
  z-index: 0;
}

.about .sec1 h1 {
  font-size: 6.5vw;
}

.about .sec1 h3 {
  font-family: var(--main-txt-font);
  font-size: var(--font-size-40);
}

.about .sec1 p {
  font-size: var(--font-size-17);
  font-family: var(--kr-txt-font);  
}

.about .sec1 p strong {
  font-size: var(--font-size-20);
}

.about .sec1 h2 {
  font-family: var(--kr-txt-font);
  font-size: var(--font-size-55);
}

.about .sec1 .sec1_top {
  margin: 0 auto;
  width: 80%;
  justify-content:center;
  gap: 2vw;
}

.about .sec1 .sec1_top span {
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid #000;
}

.about .sec1 .sec1_top .intro {
  justify-content: space-between;
}

.about .sec1 .sec1_top .intro .year {
  text-align: right;
}

.about .sec1 .sec1_bottom {
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.about .sec1 .layer0 h2 {
  font-family: var(--kr-txt-font);
  font-size: var(--font-size-55);
  color: #fff;
  transition: 0.2s;
  z-index: 99;
  text-align: center;
  /* text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
}

.about .sec1 .layer0 h2 strong {
  text-shadow: none;
  color:#000;
}


/* skill */

.about .sec2 {
  background: url(./images/background_2.png) no-repeat right / cover;
  padding: 5vw 0;
  width: 100%;
  height: calc(100vh - 10vw);
  align-items: end;
  justify-content: space-between;
  position: relative;
  transition: 0.3s;
}

.about .sec2 h3 {
  align-items: end;
  padding-right: 8vw;
  transition: 0.3s;
}

.about .sec2 .skill_list {
  list-style: none;
  padding: 0;
  width: 100%;
  z-index: 1;
  transition: 0.3s;
}

.about .sec2 .skill_list li {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 13vh;
  border-top: 1px solid #000;
  transition: 0.3s;
}
.about .sec2 .skill_list li:last-child {
  border-bottom: 1px solid #000;
}

.about .sec2 .skill_list li:hover {
  background: #000 url(../main-index/images/background_0.png) no-repeat;
  background-attachment: cover;
  color:#fff;
  transition: 0.3s;
}

.about .sec2 .skill_list li .hidden {
  text-align: left;
  color:#fff;
  opacity: 0;
  transition: 0.6s;
}

.about .sec2 .skill_list li:hover .hidden {
  opacity: 1;
}

.about .sec2 .skill_list li:last-child {
  padding-bottom: 0;
}

.about .sec2 .skill_list li h4 {
  width: 30%;
  text-align: left;
  font-family: var(--main-txt-font);
  font-size: var(--font-size-40);
  font-weight: 700;
  padding-left: 8vw;
}

.about .sec2  h3 {
  font-family: var(--main-txt-font);
  font-size: var(--font-size-40);
}

.about .sec2 .skill_list li span {
  padding-right: 8vw;
  width: calc(50% - 3vw);
}

.about .sec2 .skill_list li span p {
  width: 100%;
  font-size: var(--font-size-20);
  font-family: var(--kr-txt-font);
  text-transform: uppercase;
  text-align: right;
}


/* project */

.project {
  justify-content: space-between;
  padding: 5vw 8vw;
  width: calc(100% - 16vw);
  height: calc(100vh - 10vw);
}

.project .project_nav {
  text-transform: uppercase;
  position: sticky;
  top: 37vh;
  left: 0;
  height: 200px;
  justify-content: space-between;
  z-index: 10;
}

.project .project_nav::after {
  content: "FIND : EASTER EGG";
  font-size: var(--font-size-20);
  font-family: var(--main-txt-font);
  color:#fff;
  width: 10vw;
  text-align: right;
  position: absolute;
  top:0;
  right: 6.5vw;
  z-index: 1;
}

.project .project_nav h1 {
  font-size: 6.5vw;
  width: 30vw;
}

.project .project_nav .project_btn {
  justify-content: space-between;
  width: 24vw;
}

.project .project_nav .project_btn h6 {
  font-size: 1vw;
  font-weight: 400;
  height: 3vh;
  padding-top:10px;
  position: relative;
  display: block;
}

.project .project_nav .project_btn h6:first-child::after {
  content: "";
  width: 1px;
  background: #000;
  height: 40px;
  margin: 0 5px;
  position: absolute;
  transform: rotate(19deg);
  top: -5px;
  right: -3vw;
  left: 6vw;
}

.project .project_nav .project_btn h6:last-child::before {
  content: "";
  width: 1px;
  background: #000;
  height: 40px;
  margin: 0 5px;
  position: absolute;
  transform: rotate(19deg);
  top: -5px;
  right: 6vw;
  left: -3vw;
}

.project .project_list {
  width: 65%;
  list-style: none;
  padding:0;
}

.project .project_list a {
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #000;
  height: 16.6vh;
  transition: 0.3s;
  background-position: 50%;
}

.project .project_list a:last-child {
  border-bottom: 2px solid #000;
}

.project .project_list a:hover {
  /* background: url(./images/background_2.png) no-repeat center / cover; */
  height: 70vh;
}

.project .project_list a h4 {
  font-family: var(--main-txt-font);
  font-size: var(--font-size-28);
  font-weight: 600;
}

.project .project_list a h5 {
  font-family: var(--main-txt-font);
  font-size: var(--font-size-28);
}

.project .project_list a:hover h5 {
  position: relative;
  transition: 0.3s;
}
.project .project_list a h5::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 4px solid #000;
  transition: width 0.2s ease-out;
  left: auto;
  right: 0;
  bottom: -5px;
  width: 0;
}
.project .project_list a:hover h5::after {
  width: 100%;
  left: 0;
  right: auto;
}

.project .project_list .list_right {
  align-items: center;
  gap: 2vw;
}

.project .project_list .list_right h6 {
  font-size: var(--font-size-14);
}


.project .project_list a:nth-child(1) h4 {
  font-family: 'establishRetrosansOTF';
  font-weight: 300;
  height: 3vh;
}
.project .project_list a:nth-child(1):hover {
  background: url(./images/project_thumbs/mock.gif) no-repeat center / contain;
  background-size: 7vw;
}

.project .project_list a:nth-child(2):hover {
  background: url(./images/project_thumbs/TBS_Logo.png) no-repeat center / contain;
  background-size: 7vw;
}


.project .project_list a:nth-child(3) h4 {
  font-family: 'Friz Quadrata Regular';
}

.project .project_list a:nth-child(3):hover {
background: url(./images/project_thumbs/urbanic_amble.png) no-repeat center / contain;
background-size: 7vw;
}


.project .project_list a:nth-child(5) h4 {
  font-family: 'Noto Serif HK', serif;
}

.project .project_list a:nth-child(5):hover {
  background: url(./images/project_thumbs/logo3.png) no-repeat center / contain;
  background-size: 7vw;
}


.project .project_list a:nth-child(6) h4 {
  font-family: 'YUniverse-B';
}

.project .project_list a:nth-child(6):hover {
  background: url(./images/planet1.png) no-repeat center / contain;
  background-size: 7vw;
}


/* graphic */

.graphic {
  padding: 5vw 8vw;
  width: calc(100% - 16vw);
  height: calc(100vh - 10vw);
}

.graphic .grid li {
  background: url(./images/ex.jpg) no-repeat 50% / cover;
  filter: grayscale(100%);
  display: block;
  height: 100%;
  transition: 0.3s;
}

.graphic .grid li a {
  height: 100%;
  font-family: var(--main-txt-font);
  font-size: var(--font-size-55);
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color:#fff;
  transition: 0.3s;
}

.graphic .grid li:hover {
  filter: none;
  transition: 0.3s;
}

.graphic .grid {
  gap:20px;
  height: 100%;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr;
}

.graphic .grid li {
  height: 100%;
}

.graphic .grid h1 {
  font-size: 6.5vw;
  text-align: right;
  display: block;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  justify-content: space-between;
}

.graphic .grid .wine {
  grid-row: 1 / span 3;
  grid-column: 1 / 1;

  background: url(../project_design/graphic1_wine/images/back_2.png) no-repeat center / cover;
  background-position:42% 30%;
  background-size: 400%;
}

.graphic .grid .diamant {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;

  background: url(../project_design/graphic2_diamant/images/diamant_cookie.jpg) no-repeat center / cover;
}

.graphic .grid .myrtle {
  grid-row: 1 / span 3;
  grid-column: span / 4;
  
  background: url(../project_design/graphic4_myrtle/images/project1.jpg) no-repeat center / cover;
}

.graphic .grid .grd1 {
  grid-row: 3 / 3;
  grid-column: 2 / span 3;
}


footer {
  padding: 5vw;
  width: calc(100% - 10vw);
  height: calc(100vh - 10vw);
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

footer h1 {
  font-size: 6.5vw;
}

footer span {
  color:#fff;
  font-size: var(--font-size-28);
  font-family: var(--main-txt-font);
  z-index: 10;
  text-align: center;
}

footer .contact {
  justify-content: space-between;
  gap: 15px;
}

footer .contact div {
  gap: 20px;
  align-items: center;
}

footer .contact div p {
  font-size: var(--font-size-16);
  line-height:1.2;
}

footer .contact div img {
  width: 50px;
  height: 50px;
}

/* button */

.up_btn {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  color:#000000;
  cursor: pointer;
}

.up_btn svg {
  fill:#000000;
  animation: up 2s ease-in-out 2s infinite;
}

@keyframes up {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.up_btn p {
  font-family: var(--main-txt-font);
}

/* 마우스 커서 */

.circle {
  position: fixed;
  top: 40px;
  left: 40px;
  background-color: crimson;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  /* will-change: transform; */
  pointer-events: none;
  z-index: 10;
  user-select: none;
  pointer-events: none;
  transition: ease 0.3s;
  background-size: cover;
}

.circle.active{
  padding:10vw;
  top: calc(-40px - 5vw);
  left: calc(-40px - 5vw);
  /* transform: scale(2); */
}

.circle.top{
  z-index: 100;
}

/* .circle.active .inner {
  transform: scale(1);
} */