@charset "utf-8";

* { margin: 0; }

:root { scroll-behavior : auto }

body { overflow-x: hidden; margin: 0; }

.flex { display: flex; }

.column { flex-direction: column; }

.gap { gap:2vw; }

.grid {
    border: 1px solid silver;
    background-size: 20px, 40px, 20px 20px, 40px 40px;
    background-image: linear-gradient(90deg, #00000004 2px, transparent 2px), linear-gradient(90deg, #00000004 2px, transparent 2px), linear-gradient(#00000004 2px, transparent 2px), linear-gradient(#00000004 2px, transparent 2px);
  }

p {
  font-family: var(--kr-txt-font);
  font-size: var(--font-size-20);
}

header {
    width: calc(100% - 20vw);
    padding: 10vw 10vw 0 10vw;
    gap:15rem;
}

header div h1 {
    text-align: right;
    text-transform: uppercase;
    font-family: var(--main-txt-font);
    font-size: var(--font-size-60);
    font-weight: 600;
    margin-right: 5vw;
}

header div h1:nth-child(2) {
    color:rgb(255, 255, 255);
    text-shadow: -1px 0px #998649, 0px 1px #998649, 1px 0px #998649, 0px -1px #998649;
}

header menu {
    text-transform: uppercase;
    font-family: var(--main-txt-font);
    font-size: var(--font-size-24);
    font-weight: 600;
    border-left: 10px solid #998649;
    padding-bottom: 13rem;
    margin-left: 5vw;
}


section {
    width: calc(100% - 20vw);
    padding: 0 10vw 7rem 10vw;
}

section h2 {
    font-size: var(--font-size-20);
    font-family: var(--main-txt-font);
    font-weight: 600;
    width: 40%;
    text-transform: uppercase;
}

section p {
    font-size: var(--font-size-17);
    font-family: var(--kr-txt-font);
}

.sec1 {
    gap: 3vw;
}

.sec1 .bi_img {
    background: url(./images/logo_BI.png) no-repeat center 30% / cover;
    background-size: 160%;
    width: 75%;
    height: 20rem;
    transition: 0.5s;
}

.sec1 .bi_img:hover {
    background-size: 180%;
    height: 40rem;
}

.sec1 > div {
    justify-content: space-between;
    align-items:end;
}

.sec1 > div > div {
    width: 25%;
}


.sec2 .box {
    padding: 2vw 0;
    width: 75%;
    height: 20rem;
    justify-content: space-evenly;
    align-items: center;
}
  
.sec2 .grid img {
    width: 13rem;
    object-fit: contain;
    transition: .5s;
}

.sec2 .grid img:first-child {
    width: 14rem;
}

.sec2 > .process {
    width: 25%;
    justify-content: end;
}


.sec3 .concept_img {
    background: url(./images/Dancheong.jpg) no-repeat top / cover;
    width: 30%;
    filter:grayscale(100%);
    transition:.5s;
    height: 50rem;
}

.sec3 > .concept_sub {
    width: 15%;
}

.sec3 > .concept_sub > .concept_img {
    height: 100%;
    width: 100%;
}

.sec3 > .jagae1 {
    background: url(./images/jagae2.jpg) no-repeat top right / cover;
    width: 8%;
    filter:grayscale(100%);
    transition:.4s;
}
.sec3 > .jagae2 {
    background: url(./images/jagae.jpg) no-repeat top right / cover;
    width: 5%;
    filter:grayscale(100%);
    transition:.5s;
}

.sec3 > .jagae1:hover, .jagae2:hover {
    filter: none;
}

.sec3 > .concept_sub > .concept_img:first-child {
    background: url(./images/Dancheong2.jpg) no-repeat top / cover;
}
.sec3 > .concept_sub > .concept_img:last-child {
    background: url(./images/Dancheong3.jpg) no-repeat top / cover;
}


.sec3 .concept_img:hover {
    filter: none;
}



.sec3 > div {
    width: 30%;
}

.sec3 .source {
    color: #b6b6b6;
}


.sec4 {
    /* width: calc(100% - 5vw);
    padding: 0 10vw 5vw 10vw; */
    padding-bottom: 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.sec4 {
    .tab_menu {
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .tab_menu .tab_btn ul {
        display: flex;
    }
    .tab_menu .tab_btn li {
        cursor: pointer;
        list-style: none;
        position: relative;
        font-size: 1.3rem;
        font-family: var(--main-txt-font);
        font-weight: 600;
        transition: 0.5s;
        padding-left: 10px;
    }

    .tab_menu .tab_btn li.active {
        transition: 0.5s;
    }

    .tab_menu .tab_btn li:nth-child(1)::before {
        content: "";
        position: absolute;
        left: -100px;
        top:50%;
        bottom:50%;
        transform: translate(-50%, -50%);
        background-color: #1b1b1b;
        transition: height 0.3s ease-out;
        width: 200px;
        height: 0;
    }

    .tab_menu .tab_btn li:nth-child(1).active::before {
        right: auto;
        height: 15px;
    }

    .tab_menu .tab_btn li:nth-child(2)::before {
        content: "";
        position: absolute;
        left: -100px;
        top:50%;
        bottom:50%;
        transform: translate(-50%, -50%);
        background-color: #ac2323;
        transition: height 0.3s ease-out;
        width: 200px;
        height: 0;
    }

    .tab_menu .tab_btn li:nth-child(2).active::before {
        right: auto;
        height: 15px;
    }

    .tab_menu .tab_btn li:nth-child(3)::before {
        content: "";
        position: absolute;
        left: -100px;
        top:50%;
        bottom:50%;
        transform: translate(-50%, -50%);
        background-color: #998649;
        transition: height 0.3s ease-out;
        width: 200px;
        height: 0;
    }

    .tab_menu .tab_btn li:nth-child(3).active::before {
        height: 15px;
        right: auto;
    }

    .tab_menu .tab_cont {
        width: 90%;
        justify-content: right;
    }

    .tab_menu .tab_cont > div {
        height: 100vh;
        overflow: hidden;
        flex-wrap: wrap;
        position: relative;
    }

    .tab_menu .tab_cont > div > span {
        font-family: var(--kr-txt-font);
        position: absolute;
        right: 0;
        bottom: 30px;
        width: 50%;
        height: 10rem;
        text-align: right;
    }

    .tab_menu .tab_cont > div > img {
        width: 35rem;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
    }

    .tab_menu .tab_cont > div > div {
        align-items: center;
        justify-content: center;
        width: 35rem;
        height: 45rem;
    }

    .tab_menu .tab_cont > div > div > img {
        width: 70%;
        object-fit: contain;
    }

    .tab_menu .tab_cont > div:first-child > div > img {
        width: 50%;
    }
    .tab_menu .tab_cont > div:last-child > div > img {
        width: 85%;
    }
}

.site_link {
    position: absolute;
    right: 10vw;
    bottom: 50px;
    font-size: var(--font-size-17);
    font-weight: 700;
    font-family: var(--kr-txt-font);
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #998649;
    text-align: center;
    display: block;
    width:180px;
    padding: 1vw;
    transition: 0.3s;
}

.site_link:hover {
    background-color: rgba(0, 0, 0);
    color:#ffffff;
}



.back_btn {
    color:#000000;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: fixed;
    top:1vw;
    left: 1vw;
    z-index: 999;
    gap:1vw
}

.back_btn svg {
    fill:#000000;
    width: 35px;
}

.back_btn p {
    font-family: var(--main-txt-font);
    font-weight:500;
}
