@charset "utf-8";

/* 플로우 텍스트 상단 */

.flow-container {
  overflow-x: hidden;
  overflow-y: hidden;
}

.flow-text {
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
  transition: 0.3s;
  font-weight: bold;
  height: 36px;
}

.flow-wrap {
  animation: textLoop 8s linear infinite;
  padding-right: 10vw;
  white-space: nowrap;
  display: flex;
}

.flow-wrap {
  animation: textLoop 50s linear infinite;
  transition: 0.3s;
}

.flow-text .flow-wrap h3 {
  color: var(--point-color);
  font-family: var(--sub-title-font);
  font-weight: 700;
  font-size: 2rem;
  transition: 0.3s;
}

.flow-text .flow-wrap h3:hover {
  color:#fff;
  text-shadow: -1px 0px var(--point-color), 0px 1px var(--point-color), 1px 0px var(--point-color), 0px -1px var(--point-color);
}

.flow-text2 .flow-wrap h3 {
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
  transition: 0.3s;
  color:#fff;
  text-shadow: -1px 0px var(--point-color), 0px 1px var(--point-color), 1px 0px var(--point-color), 0px -1px var(--point-color);
  font-weight: bold;
  height: 36px;
}

.flow-text2:hover h3 {
  color: var(--point-color);
  text-shadow: none;
}

.flow-text2 .flow-wrap h3 {
  font-family: var(--sub-title-font);
  font-weight: 700;
  font-size: 2rem;
}


@keyframes textLoop {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
