@charset "utf-8";

/* Notted */
@font-face {
  font-family: "Notted";
  src: url(../common/fonts/Notted.ttf);
}

/* noto sans kr */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Pretendard', san-serif;*/
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* font-family: 'Gowun Batang', serif; */
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

/* montserrat */
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Instrument+Sans&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* Gmarketsans */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 에스코어 드림 */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 유니버스 */
@font-face {
  font-family: 'YUniverse-B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 설립체 */
@font-face {
  font-family: 'establishRetrosansOTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 한자 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200;300;400;500;600;700;800;900&display=swap');

/* 나눔스퀘어 네오 */
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Friz Quadrata Regular */
@font-face {
  font-family: 'Friz Quadrata Regular';
  src: url(../project_publishing/fonts/Friz\ Quadrata\ Regular.ttf)
}

:root { scroll-behavior : auto }

:root {
  /* 컬러 */
  --bg-color: #f4f4f4;
  --txt-color: #0c0c0c;
  --txt-sub-color: #858585;
  /* 폰트 사이즈 */
  --font-size-14: 0.8rem;
  --font-size-15: 0.9rem;
  --font-size-16: 1rem;
  --font-size-17: 1.1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-34: 2.125rem;
  --font-size-40: 2.5rem;
  --font-size-50: 3.125rem;
  --font-size-55: 3.5rem;
  --font-size-60: 3.75rem;
  --font-size-70: 4rem;

  /* 폰트 패밀리 */
  --title-txt-font: "Notted", sans-serif, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", serif;

  --main-txt-font: "Montserrat", "pretendard", sans-serif, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", serif,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;

  --main-sub-font:'GmarketSansMedium', "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", serif;

  --kr-txt-font: 'Pretendard-Regular', Georgia, "Times New Roman", Times, serif;

  --kr-sub-font: "noto sans kr", Georgia, "Times New Roman", Times, serif;
}


::-webkit-scrollbar {
  width: 8px; /* 세로축 스크롤바 길이 */
  height: 20px; /* 가로축 스크롤바 길이 */
}
::-webkit-scrollbar-track {
  background-color: lightblue;
}
::-webkit-scrollbar-track-piece {
  background-color: #1b1b1b;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e2e2e2;
}
::-webkit-scrollbar-button {
  display: none;
}

::selection {
  background-color: #d64949e0;
  color: #fff;
}

* {
  margin: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

  min-width: 1620px;
  max-width: 100%;
}

h1 {
  display: block;
  font-family: var(--title-txt-font);
  font-weight: 300;
  margin: 0;
  text-transform: capitalize;
  line-height: 0.8;
}

ul, ol, li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color:#1b1b1b;
  margin: 0;
  display: block;
}

h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  display: block;
  margin: 0;
}

p {
  font-family: var(--kr-txt-font);
  margin: 0;
  display: block;
  font-weight: 300;
  line-height: 1.5;
}
