@charset "utf-8";

* {margin: 0;}

:root { scroll-behavior : auto }

.flex {
    display: flex;
}
  
.grid {
    display: grid;
}
  
.column {
    flex-direction: column;
}

html {
    background-color: #fff;
    overflow-x: hidden;
}

p {
    font-family: var(--kr-txt-font);
}


/* header */

header .title {
    width: 100%;
    height: 60vh;
    background: url(../../main-index/images/background_2.png) no-repeat bottom / cover;
    background-attachment: fixed;
    align-items: center;
}

header .title .title_text {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    transition: 0.3s;
    padding: 0 5vw 0 10vw;
    gap: 20px;
    color:#000;
    align-items: center;
    z-index: 5;
}

header .title .title_text .glitter {
    color:crimson;
    font-size: 7rem
}

header .title:hover .title_text {
    background-color: rgba(0, 0, 0, 0.7);
    color:#fff;
    width: 40%;
}

header .title .title_text div {
    gap: 15px;
}

header .title .title_text h5 {
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: crimson;
    color:#fff;
    border-radius: 15px;
}

header .title .title_text h1 {
    font-family: var(--title-txt-font);
    font-size: 7rem;
}

header .title .title_text span p {
    font-size: var(--font-size-16);
}

/* ellipse */

.svgBox .svg {
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  .animate {
    animation: line-anim 5s infinite alternate;
    transition: 0.5s ease;
  }
  
  @keyframes line-anim {
    to {
      stroke-dasharray: 60px;
      stroke-dashoffset: 160px;
      transition: 0.5s ease;
    }
  }
  
  .svgBox .svg .ellipse1 {
    fill: rgb(255, 255, 255, 0);
    cx: 60vw;
    cy: 21vw;
    rx: 25vw;
    ry: 7vw;
    stroke: #000000;
    stroke-width: 2;
    rotate: 18deg;
  }
  
  .svgBox .svg .ellipse2 {
    fill: rgb(255, 255, 255, 0);
    cx: 60vw;
    cy: 23vw;
    rx: 34vw;
    ry: 10vw;
    stroke: #000000;
    stroke-width: 1;
    rotate: 18deg;
  }
  
  .svgBox .svg .ellipse3 {
    fill: rgb(255, 255, 255, 0);
    cx: 60vw;
    cy: 25.5vw;
    rx: 42vw;
    ry: 14vw;
    stroke: #000000;
    stroke-width: 2;
    stroke-dasharray: 0.3% 0.7%;
    rotate: 18deg;
  }
  
  .svgBox .svg .ellipse4 {
    fill: rgb(255, 255, 255, 0);
    cx: 60vw;
    cy: 28vw;
    rx: 56vw;
    ry: 19vw;
    stroke: #000000;
    stroke-width: 2;
    rotate: 18deg;
  }
  
  .svgBox .svg .ellipse5 {
    fill: rgb(255, 255, 255, 0);
    cx: 60vw;
    cy: 45vw;
    rx: 72vw;
    ry: 26.5vw;
    stroke: #000000;
    stroke-width: 2;
    stroke-dasharray: 0.5% 0.7%;
    rotate: -10deg;
  }
  
  .svgBox .svg .ellipse6 {
    fill: rgb(255, 255, 255, 0);
    cx: 60vw;
    cy: 48vw;
    rx: 90vw;
    ry: 40vw;
    stroke: #000000;
    stroke-width: 1;
    rotate: 18deg;
  }
  


/* section */

.sec1 {
    margin: 0 auto;
    padding:8vw 20vw 0;
    width: calc(100% - 40vw);
    gap: 5vw;
}

.sec1 div {
    color:#000000;
}

.sec1 div h2 {
    font-family: var(--main-txt-font);
    width: 30%;
}

.sec1 div p {
    font-size: var(--font-size-17);
    width: 70%;
}

.sec1 div span p {
    width: 100%;
}


/* sec2 */

.sec2 {
    padding:5vw 20vw;
    width: calc(100% - 40vw);
    gap: 5vw;
}

.gap {
    gap:2vw;
}

.txt_gap p {
    padding-bottom:5px;
}

img {
    object-fit: contain;
}

.sec2 div {
    color:#000000;
}

.sec2 div h2 {
    font-family: var(--main-txt-font);
    width: 30%;
}

.sec2 div p {
    font-size: var(--font-size-16);
}

.sec2 div .style_guide {
    width: calc(100% - 6vw);
    padding:3vw;
    background: url(../../main-index/images/background_1.png);
    /* border: 1px solid #000; */
    border-radius: 25px;
    gap:3vw;
}

.sec2 div .style_guide div h4 {
    font-family: var(--main-txt-font);
    width: 25%;
    color: crimson;
}

.sec2 div .style_guide div .guide_sub {
    width:75%;
}

.sec2 div .style_guide .color .guide_sub div span {
    width: 25%;
}

.sec2 div .style_guide .color .guide_sub div span p {
    width: 100%;
    text-align: center;
    display: block;
    font-size: var(--font-size-14);
}

.sec2 div .style_guide .color .guide_sub div span:nth-child(1) p:first-child {
    height: 20px;
    background: url(./images/style1.png);}
.sec2 div .style_guide .color .guide_sub div span:nth-child(2) p:first-child {
    height: 20px;
    background: url(./images/style2.png);}
.sec2 div .style_guide .color .guide_sub div span:nth-child(3) p:first-child {
    height: 20px;
    background: url(./images/style3.png);}
.sec2 div .style_guide .color .guide_sub div span:nth-child(4) p:first-child {
    height: 20px;
    background: #dc143c;}

.sec2 div .style_guide .fonts .guide_sub .font_sub h3 {
    width: 30%;
}

.sec2 div .style_guide .fonts .guide_sub .font_sub:first-child h3 {
    font-family: var(--title-txt-font);
    font-weight: 200;
    font-size: var(--font-size-24);
}

.sec2 div .style_guide .fonts .guide_sub .font_sub:nth-child(2) h3 {
    font-family: var(--main-txt-font);
}

.sec2 div .style_guide .fonts .guide_sub .font_sub:first-child {
    align-items: baseline;
}


/* Description */

.gap {
    gap:2vw;
}

.sec2 div .Description div {
    padding: 2vw;
    width: calc(100% - 4vw);
    background: url(../../main-index/images/background_1.png);
    border-radius: 25px;
    align-items: center;
}

.sec2 div .Description img {
    width: 100%;
}

.sec2 div .Description h4 {
    font-family: var(--kr-txt-font);
    font-size: var(--font-size-18);
    font-weight: bold;
}

.sec2 div .Description .main0 h4 {
    font-family: var(--kr-txt-font);
    width: 25%;
    color: crimson;
}

.sec2 div .Description .main3 {
    position: relative;
    align-items: end;
}

.sec2 div .Description .main3 img {
    width: 60%;
}

.sec2 div .Description .main3 .easter_egg {
    display: block;
    cursor: pointer;
    width: 250px;
    border-bottom: 1px solid #000;
}

.sec2 div .Description .main3 .easter_egg .hidden {
    position: absolute;
    top:35%;
    left:30%;
    width: 200px;
    transition: 0.3s;
    opacity: 0;
}

.sec2 div .Description .main3 .easter_egg:hover .hidden {
    opacity: 1;
}

.sec2 div .Description .main3 .rip {
    align-items: end;
    font-weight: bold;
}

.sec2 div .Description .main3 span .rip img {
    width: 70%;
}

.sec2 div .Description .main5 span h4 {
    color:#fff;
    font-size: var(--font-size-70);
    text-align: center;
}

.sec2 div .Description .main6 {
    justify-content: space-between;
}

.sec2 div .Description .main6 img {
    width: 33%;
}

.sec2 div .Description .main6 .hover {
    justify-content: space-between;
    display: block;
    width: 33%;
}

.sec2 div .Description .main6 .hover img {
    width: 100%;
}

.sec2 div .Description .main7 span p {
    text-align: center;
    font-weight: bold;
    color: #dc143c;
}

/* button */

.up_btn {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    color:#fff;
    cursor: pointer;
}

.up_btn svg {
    fill:#000000;
    animation: up 2s ease-in-out 2s infinite;
}

@keyframes up {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.up_btn p {
    font-family: var(--main-txt-font);
}

.back_btn {
    color:#ffffff;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: fixed;
    top:1vw;
    left: 1vw;
    z-index: 999;
    gap:1vw
}

.back_btn svg {
    fill:#ffffff;
    width: 35px;
}

.back_btn p {
    font-family: var(--main-txt-font);
    font-weight:500;
}