@charset "utf-8";

@import url(./var.css);

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@media (min-width: 1025px) {

  header .header-top {
    width: 100%;
    position: fixed;
  }

  header .header-top .top {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
  }

  header .header-top .top li {
    padding: 20px 1vw;
  }

  header .header-top .top li a {
    color: #f8f3e8;
  }

  header .header-top .top li:last-child a {
    margin-left: 10px;
  }

  .icon_MB {
    display: none;
  }


  /* 슬라이드 하단 메뉴바 */

  .menubar {
    width: 100%;
    height: 100%;
    padding:70px 0;
  }

  .menubar > ul {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .menubar > ul > li {
    width: 270px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 1px 5px 10px #d8d8d8;
  }

  .menubar > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .menubar > ul > li > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .menubar > ul > li:nth-child(3) > a > img {
    object-position: 75%;
  }
  .menubar > ul > li:nth-child(4) > a > img {
    object-position: 90%;
  }

  .menubar > ul > li > a > p {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #ffffff;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    font-weight: 400;
    transition: 0.5s;
  }

  .menubar > ul > li:hover > a > p {
    color: #d6cb49;
  }
  
  .menubar > ul > li > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(400px);
    transition: 0.3s;
  }

  .menubar > ul > li:hover > a::before {
    transform: translateY(0);
    background: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0.25) 50%,
      rgba(20, 20, 20, 0.5) 75%,
      rgba(20, 20, 20, 0.75) 100%
    );
  }

  .header_slide {
    width: 100%;
    height: 600px;
    overflow: hidden;
  }

  .header_slide li a {
    display: block;
    width: 100%;
    height: 600px;
  }

  .header_slide > .slider > .slide_img > li:nth-child(1) a {
    background: url(./images/slide1.jpg) 50% 50% no-repeat;
    background-size: cover;
  }

  .header_slide > .slider > .slide_img > li:nth-child(2) a {
    background: url(./images/slide2.jpg) 50% 50% no-repeat;
    background-size: cover;
  }

  .header_slide > .slider > .slide_img > li:nth-child(3) a {
    background: url(./images/slide3.jpg) 50% 50% no-repeat;
    background-size: cover;
  }


  /* 메인 */

  h6 {
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--point-color);
    /* margin: 10px 0; */
  }

  .gift_banner {
    width: 100%;
    object-fit: cover;
  }


  /* 슬라이드 */

  .arrow {
    width: 80%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 20px;
  }

  .slide_container {
    position: relative;
    width: 100%;
  }

  .slide_container .slider {
    width: 100%;
  }

  .sec1 {
    width: calc(100% - 200px);
    padding: 5vw 100px;

    .new_item {
      width: 100%;
      justify-content: center;
    }

    .new_item > h1 {
      font-size: 35px;
      text-align: center;
      margin: 0 0 90px 0;
    }

    .new_item > .tab_menu {
      margin: 0 auto;
      width: 100%;
      height: 570px;
      gap: 100px;
      justify-content: center;
    }

    .new_item > .tab_menu > .tab_cont {
      width: 350px;
      height: 570px;
      overflow: hidden;
    }

    .new_item > .tab_menu > .tab_cont > a  {
      justify-content: space-between;
      color: #000;
    }

    .new_item > .tab_menu > .tab_cont > a > img {
      width: 350px;
      height: 470px;
      border-radius: 200px 200px 0 0;
      object-fit: cover;
    }

    .new_item > .tab_menu > .tab_cont > a > div > h2 {
      font-size: 25px;
    }


    .new_item > .tab_menu > .tab_btn {
      width: 570px;
      justify-content: center;
      align-items: center;
    }
    
    .new_item > .tab_menu > .tab_btn > ul {
      width: 100%;
      gap: 30px;
      flex-wrap: wrap;
    }

    .new_item > .tab_menu > .tab_btn > ul > li {
      width: 170px;
      height: 170px;
      border-radius: 30px;
      box-shadow: 3px 3px 5px #d8d8d8;
      background-color: #faf4e8;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      transition: 0.4s;
      justify-content: center;
      align-items: center;
    }

    .new_item > .tab_menu > .tab_btn > ul > li:hover {
      transform: scale(1.06);
    }

    .new_item > .tab_menu > .tab_btn > ul > li.active {
      transform: scale(1.06);
      box-sizing: border-box;
    }

    .new_item > .tab_menu > .tab_btn > ul > li > img {
      width: 100%;
      object-fit: cover;
      padding-bottom: 23%;
    }

    .new_item > .tab_menu > .tab_btn > ul > li:first-child > img {
      width: 85%;
      padding:0;
    }    
  }

  .more a {
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #3a857e;
    width: 100px;
    border-bottom: 1px solid #3a857e;
  }

  .more a:hover {
    color: #d6cb49;
    border-bottom: 1px solid #d6cb49;
  }


  /* 그랩 슬라이드 */

  .sec4 {
    width: calc(100% - 16vw);
    height: 600px;
    padding: 0 8vw;
    position: relative;
    background-color: #f8f3e8;
  }

  .sec4 .notice h1 {
      font-size: 45px;
      padding: 100px 0;
    }

    /* https://codepen.io/austinmallar/pen/VwYZWxR */
    
  .sec4 .card-slider {
      position: absolute;
      left: 8vw;
      bottom: 0;
      width: calc(100% - 8vw);
      height: 350px;
      overflow: hidden;
    }
    
  .sec4 .card-inner {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 200%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 30px;
      cursor: grab;
    }

  .sec4 .card-inner:active {
      cursor: grabbing;
    }
    
  .sec4 .slider-item {
      height: 100%;
      background-color: #fff;
      border-radius: 30px 30px 0 0;
      overflow: hidden;

      -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none
    }

  .sec4 .slider-item > div {
      width: 100%;
      height: calc(100% - 60px);
      padding: 30px 30px 30px;
      background-color: #fff;
      justify-content: space-around;
      gap: 15px;
    }

  .sec4 .slider-item > h1 {
      font-size: 33px;
    }

  .sec4 .slider-item > img {
      width: 50%;
      object-fit: cover;
    }


  /* sec5 */

  .sec5 a {
    width: 50%;
    height: 300px;
    color: #fff;
    align-items: center;
    font-size: 25px;
    padding: 0 70px;
  }

  .sec5 a > h2 {
    position: relative;
  }
  
  .sec5 a > h2::before {
    content: "";
    width: 0;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    bottom: -10px;
    transition: 0.3s;
  }

  .sec5 a:hover > h2::before {
    width: 100%;
  }
  
  .sec5 .refill {
    background-color: #3a857e;
  }
  .sec5 .refill:hover {
    background: url(./images/refill.jpg) right center no-repeat;
    background-size: cover;
  }

  .sec5 .plastic {
    background: #d6cb49;
  }
  .sec5 .plastic:hover {
    background: url(./images/plastic.jpg) right center no-repeat;
    background-size: cover;
  }


  /* footer */

  footer {
    width: 100%;
    height: 200px;
    background-color: var(--point-color);
  }

}