@charset "utf-8";

section article.open {
  background: url(./images/open_background.jpg) no-repeat bottom / cover;
  background-color: #fff;
  position: fixed;
  -webkit-mask: url(./images/mask_1.png) no-repeat;
  -webkit-mask-size: 2300% 100%;
  -webkit-mask-position: 0% 0%;
  transition: 1s ease-in-out;
}

@keyframes mask-play{
  0%{ -webkit-mask-position: 0% 0% ;}
  100% { -webkit-mask-position: 100% 0% ;}
}

section.on .open {
  animation: mask-play 1.4s steps(22) forwards;
}

article.open .open_txt {
  align-items: center;
  justify-content: space-evenly;
  height: 900px;
  border-radius: 120px 120px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}

article.open .open_txt span h2 {
  width: 200px;
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-weight: 200;
  font-family: 'JSongMyung-Regular-KO';
  transition: 1s ease-in-out;
}

section article.open .open_txt h3 {
  font-family: 'Pretendard-Regular';
  font-weight: 100;
  font-size: 20px;
}

section article.open .open_txt img {
  object-fit: contain;
  width: 120px;
}


/* slide */

.slide {
  color: #ffffff;
  position: relative; }

.slide .wrapper {
  text-align: left; }


/*  sec1 */

section article.sec1 {
  background: url(./images/open_back.jpg) no-repeat center / cover;
  background-attachment: fixed;
}

section article.sec1 .sec1_left {
  width: 100%;
  height: 100%;
  position: relative;
}

section article.sec1 .sec1_left .left {
  height: 60%;
  width: 200px;
  padding: 40px 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 120px 120px;
  background: rgba(175, 175, 175, 0.1);
  backdrop-filter: blur(5px);
  transition: 2s ease-in-out;

  position: fixed;
  top: 15%;
  left: 40px;
}

@keyframes active {
  0% { transform: translateX(-300px); }
  100% { transform: translateX(0); }
}

section.active article.sec1 .sec1_left .left  {
  animation: active 2s ease-in-out;
  z-index: 99;
}

.sec1 header {
  text-align: center;
}

.sec1 header h1 {
  font-size: 3rem;
  font-family: 'JSongMyung-Regular-KO';
}

.sec1 header {
  font-size: 1.3rem;
}
  
/* wrapper */

section {
  overflow: hidden;

}
section .wrapper {
  position: absolute;
  top: 50%;
  bottom: auto;
  left:8vw;
  align-items: end;
}

section .wrapper h1 {
  font-size: 3rem;
  font-family: 'JSongMyung-Regular-KO';
  padding-bottom: 10px;
}

section .wrapper h2 {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: 'Pretendard-Regular';
  padding-bottom: 10px;
}

section .wrapper p {
  font-size: 1rem;
  font-family: 'Pretendard-Regular';
}


.sec2 {
  background: url(./images/back_1.png) no-repeat left center / cover;
  background-attachment: fixed;
  background-size: 115%;
  
}
.sec3 {
  background: url(./images/back_3.png) no-repeat left center / cover;
  background-attachment: fixed;
  background-size: 115%;
}
.sec4 {
  background: url(./images/back_2.png) no-repeat left center / cover;
  background-attachment: fixed;
  background-size: 115%;
}


/* Footer */

.footer-container {
  text-align: center;
  font-size: 14px;
  color: #fff;
  color: rgba(0, 0, 0, 0.9);
  background: url(./images/close-up-of-delicious-red-wine.jpg) no-repeat center / cover;
}

.footer-container h3 {
  margin: 0;
  padding: 70px 0;
  font-weight: normal; }
  
.footer-container a {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9); }