* {margin: 0;
  scroll-behavior: smooth;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'JSongMyung-Regular-KO';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 한자 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Gowun Batang', serif; */
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

section {
  width: 100%;
  height: 100vh;
}

article {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  color: #fff;
}

section article.open {
  background: url(./images/open_background.jpg) no-repeat bottom / cover;
  position: fixed;
  -webkit-mask: url(./images/mask_1.png) no-repeat;
  -webkit-mask-size: 2300% 100%;
  -webkit-mask-position: 0% 0%;
  transition: 1s ease-in-out;
}

@keyframes mask-play{
  0%{ -webkit-mask-position: 0% 0% ;}
  100% { -webkit-mask-position: 100% 0% ;}
}

section.on .open {
  animation: mask-play 1.4s steps(22) forwards;
}

section article.open:hover {
  background-position-y: center;
}

section article.open .open_txt {
  align-items: center;
  justify-content: space-evenly;
  height: 600px;
  border-radius: 120px 120px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

section article.open .open_txt span h2 {
  width: 200px;
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-weight: 200;
  font-family: 'JSongMyung-Regular-KO';
  transition: 1s ease-in-out;
}

section article.open .open_txt h3 {
  font-family: 'Pretendard-Regular';
  font-weight: 100;
  font-size: 20px;
}

section article.open .open_txt img {
  object-fit: contain;
  width: 120px;
}


/* 내부 sec1 */

section article.sec1 {
  background: url(./images/open_back.jpg) no-repeat center / cover;
  background-attachment: fixed;
}

section article.sec1 .sec1_left {
  width: 100%;
  height: 100%;
  position: relative;
}

section article.sec1 .sec1_left .left {
  height: 60%;
  width: 200px;
  padding: 40px 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 120px 120px;
  background: rgba(175, 175, 175, 0.1);
  backdrop-filter: blur(5px);
  transition: 2s ease-in-out;

  position: fixed;
  top: 15%;
  left: 40px;
}

@keyframes active {
  0% { transform: translateX(-300px); }
  100% { transform: translateX(0); }
}

section.active article.sec1 .sec1_left .left  {
  animation: active 2s ease-in-out;
  z-index: 99;
}

section article.sec1 .sec1_left .left span {
  align-items: center;
  gap: 25px;
}

section article.sec1 .sec1_left .left span a {
  color: #fff;
  font-family: 'Noto Serif HK';
  text-transform: uppercase;
  font-size: 1.1rem;
}

section article.sec2 {
  width: 100%;
  height: 100%;
  position: relative;
}

section article.sec2 .right {
  position: absolute;
  top: 15%;
  right:40px;
  align-items: end;
}

section article.sec2 .right h1 {
  font-family: 'JSongMyung-Regular-KO';
  font-weight: 200;
  font-size: 110px;
}

section article.sec2 .right h2 {
  font-family: 'JSongMyung-Regular-KO';
  font-weight: 200;
  font-size: 70px;
}

.sec1 .logo {
  object-fit: contain;
  width: 120px;
}

.sec2 {
  background: url(./images/back_1.png) no-repeat center / cover;
  background-attachment: fixed;
}
.sec3 {
  background: url(./images/back_3.png) no-repeat center / cover;
  background-attachment: fixed;
}
.sec4 {
  background: url(./images/back_2.png) no-repeat center / cover;
  background-attachment: fixed;
}