* {margin: 0;
  scroll-behavior: smooth;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'JSongMyung-Regular-KO';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.flex {
  display: flex;
}

section {
  width: 100%;
  height: 100vh;
}

article {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  color: #fff;
}

section article.open {
  background: url(./images/open_background.jpg) no-repeat bottom / cover;
  position: fixed;
  -webkit-mask: url(./images/mask_1.png) no-repeat;
  -webkit-mask-size: 2300% 100%;
  -webkit-mask-position: 0% 0%;
  transition: 1s ease-in-out;
}

@keyframes mask-play{
  0%{ -webkit-mask-position: 0% 0% ;}
  100% { -webkit-mask-position: 100% 0% ;}
}

section.on .open {
  animation: mask-play 1.4s steps(22) forwards;
}

section article.open:hover {
  background-position-y: center;
}

section article.open .open_txt {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 600px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

section article.open .open_txt span h2 {
  width: 200px;
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-weight: 200;
  font-family: 'JSongMyung-Regular-KO';
  transition: 1s ease-in-out;
}

section article.open .open_txt h3 {
  font-family: 'Pretendard-Regular';
  font-weight: 100;
  font-size: 20px;
}

section article.open .open_txt img {
  object-fit: contain;
  width: 120px;
}

section article.sec1 {
  background: url(./images/back_1.png) no-repeat center /cover;
  background-attachment: fixed;
}

section article.sec1 div {
  flex-direction: column;
  color: #fff;
  width: calc(100% - 4vw);
  height: calc(100% - 4vw);
  padding:2vw;
  position: fixed;
}

.sec1 .logo {
  object-fit: contain;
  width: 120px;
}

.sec2 {
  background: url(./images/back_3.png) no-repeat center / cover;
  background-attachment: fixed;
}
.sec3 {
  background: url(./images/back_2.png) no-repeat center / cover;
  background-attachment: fixed;
}