@charset "utf-8";

* {margin: 0;}

:root { scroll-behavior : auto }

@font-face {
    font-family: 'Friz Quadrata Regular';
    src: url(../fonts/Friz\ Quadrata\ Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600&family=Noto+Serif+HK:wght@200;300;400;500;600;700;800;900&display=swap');

.flex {
    display: flex;
}
  
.grid {
    display: grid;
}
  
.column {
    flex-direction: column;
}

html {
    background: url(../../main-index/images/background_0.png) no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

p {
    font-family: var(--kr-txt-font);
    font-size: var(--font-size-17);
    line-height: 2;
}


/* header */

header .title {
    width: 100%;
    height: 60vh;
    background: url(./images/background_0.jpg) no-repeat bottom / cover;
    background-attachment: fixed;
    align-items: center;
}

header .title .title_text {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    transition: 0.3s;
    padding: 0 5vw 0 10vw;
    gap: 30px;
    color:#000;
    align-items: center;
}

header .title .title_text img {
    width: 15vh;
}

header .title:hover .title_text {
    background-color: rgba(0, 0, 0, 0.7);
    color:#fff;
    width: 40%;
}

header .title .title_text div {
    gap: 15px;
}

header .title .title_text h5 {
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #F4F4F4;
    color:#131313;
    border-radius: 15px;
}

header .title .title_text h1 {
    text-transform: uppercase;
    font-family: 'Friz Quadrata Regular';
    font-size: var(--font-size-34);
    letter-spacing: -1px;
}

header .title .title_text span p {
    font-size: var(--font-size-16);
}


/* section */

.sec1 {
    margin: 0 auto;
    padding:8vw 20vw 0;
    width: calc(100% - 40vw);
    gap: 5vw;
}

.sec1 div {
    color:#fff;
}

.sec1 div h2 {
    font-family: var(--main-txt-font);
    width: 30%;
}

.sec1 .Overview p {
    width: 70%;
}

.sec1 div span p {
    width: 100%;
}

.sec1 .web_img div {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    padding: 2vw;
    justify-content: center;
    align-items: center;
}

.sec1 .web_img div img {
    border-radius: 20px;
    display: block;
    margin: 0;
    object-fit: contain;
    width: 100%;
}

.sec1 .web_img div p {
    font-size: var(--font-size-16);
}

.sec1 .web_img .Vision {
    justify-content: center;
    align-items: center;
}

/* sec2 */

.sec2 {
    padding:5vw 20vw;
    width: calc(100% - 40vw);
    gap: 5vw;
}

.gap {
    gap:2vw;
}

.txt_gap p {
    padding-bottom:5px;
}

img {
    object-fit: contain;
}

.sec2 div {
    color:#fff;
}

.sec2 div h2 {
    font-family: var(--main-txt-font);
    width: 30%;
}

.sec2 div .style_guide {
    width: calc(100% - 6vw);
    padding:3vw;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    gap:3vw;
}

.sec2 div .style_guide div h4 {
    font-family: var(--main-txt-font);
    width: 25%;
    color: #BEC9FF;
}

.sec2 div .style_guide div .guide_sub {
    width:75%;
}

.sec2 div .style_guide div .guide_sub .fz16 {
    font-size: var(--font-size-16);
}

.sec2 div .style_guide .color .guide_sub div span {
    width: 25%;
}

.sec2 div .style_guide .color .guide_sub div span p {
    width: 100%;
    text-align: center;
    display: block;
    font-size: var(--font-size-14);
}

.sec2 div .style_guide .color .guide_sub div span:nth-child(1) p:first-child {
    height: 25px;
    background-color: #F4F4F4;}
.sec2 div .style_guide .color .guide_sub div span:nth-child(2) p:first-child {
    height: 25px;
    background-color: #131313;}
.sec2 div .style_guide .color .guide_sub div span:nth-child(3) p:first-child {
    height: 25px;
    background-color: #EEECEC;}
.sec2 div .style_guide .color .guide_sub div span:nth-child(4) p:first-child {
    height: 25px;
    background-color: #858585;}

.sec2 div .style_guide .fonts .guide_sub .font_sub h3 {
    width: 30%;
}

.sec2 div .style_guide .fonts .guide_sub .font_sub:first-child h3 {
    font-family: 'Friz Quadrata Regular';
    font-weight: 200;
    font-size: var(--font-size-20);
}
.sec2 div .style_guide .fonts .guide_sub .font_sub:nth-child(2) h3 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 200;
    font-size: var(--font-size-20);
}

.sec2 div .style_guide .fonts .guide_sub .font_sub:first-child {
    align-items: baseline;
}


.sec2 .PDF_link {
    align-items: center;
}

.sec2 .PDF_link a {
    color:#fff;
    font-family: var(--kr-txt-font);
    font-size: var(--font-size-18);
    font-weight: bold;
}

.sec2 .proto_box {
    gap: 2vw;
}

.sec2 div .proto_box .filter {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    transition: 0.3s;
    align-items: center;
    padding:2vw;
}

.sec2 div .proto_box .main1 {
    width: calc(100% - 4vw);
    flex-wrap: wrap;
}
.sec2 div .proto_box .main1 img {
    width: calc(50% - 1vw);
    display: block;
}

.sec2 div .proto_box .main2 {
    width: calc(100% - 4vw);
}
.sec2 div .proto_box .main2 img {
    width: 100%;
}

.sec2 div .proto_box .main2 {
    width: calc(100% - 4vw);
    flex-wrap: wrap;
}
.sec2 div .proto_box .main2 img {
    width: calc(50% - 1vw);
}

.sec2 div .proto_box .main2 div h4 {
    font-family: var(--kr-txt-font);
    font-size: var(--font-size-18);
    width: 20%;
}

.sec2 div .proto_box .main2 div div .fz16 {
    width:80%;
}

.sec2 div .proto_box .main2 .fz16 {
    font-size: var(--font-size-16);
}

.sec2 div .proto_box .main2 div img {
    width: 70%;
    margin: 0 auto;
}

.sec2 div .proto_box .main2 .Easter_Egg {
    position: relative;
    cursor: pointer;
    align-items: center;
    width: 270px;
    margin: 0 auto;
}

.sec2 div .proto_box .main2 .Easter_Egg .p_center {
    display: block;
    text-align: center;
    font-style:italic;
    border-bottom: 1px solid #fff;
}

.sec2 div .proto_box .main2 .Easter_Egg .hidden {
    width: 300px;
    object-fit: contain;
    position: absolute;
    bottom:5vh;
    display: none;
    transition: 0.3s;
}

.sec2 div .proto_box .main2 .Easter_Egg:hover .hidden {
    display: block;
}

.sec2 .Review span {
    width: 100%;
    justify-content: space-between;
}

.sec2 .Review span span {
    width: 80%;
}

.sec2 .Review span span p {
    width: 100%;
}

.sec2 .Review span h4 {
    width: 15%;
    display: block;
    font-family: var(--main-txt-font);
}

.sec2 .Review span p {
    width: 80%;
}


.site_link {
    font-family: var(--kr-txt-font);
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
    border-radius: 50%;
    color:#fff;
    text-align: center;
    display: block;
    width:200px;
    padding: 1vw 2vw;
    transition: 0.3s;
}

.site_link:hover {
    background-color: rgb(255, 255, 255, 0.8);
    color:#000;
}


/* button */

.up_btn {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    color:#fff;
    cursor: pointer;
}

.up_btn svg {
    fill:#fff;
    animation: up 2s ease-in-out 2s infinite;
}

@keyframes up {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.up_btn p {
    font-family: var(--main-txt-font);
}

.back_btn {
    color:#fff;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: fixed;
    top:1vw;
    left: 1vw;
    z-index: 999;
    gap:1vw
}

.back_btn svg {
    fill:#fff;
    width: 35px;
}

.back_btn p {
    font-family: var(--main-txt-font);
    font-weight:500;
}